*{
  margin: 0;
  box-sizing: border-box;

}
body{
  background-image: url("img/natural-pattern.png");
}
.container{
  width: 1000px;
  margin: 0 auto;
}
.header-top{
  background-image: url("img/natural-header.jpg");
  text-align: center;
  border: 5px solid white;
  background-repeat: no-repeat;


}
.header-top h2{
  color: white;
  margin-bottom: 30px;
}
.menu li a{
  color: white;
  text-decoration: none;
  padding: 0 5px;
}
.menu a:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.menu a:any-link{
  color: white;
  text-decoration: none;
  padding: 0 5px;
}
.menu li{
  display: inline-block;
  margin: 15px auto;
}

.menu{
  text-align: center;
  background-color: grey;
  height: 50px;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}
.column{
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
  padding: 10px;

}
.col-1{
  float: left;
  width: 20%;
}
.col-2{
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
.col-3{
  width: 20%;
  float: left;

}
.column p {
  color: black;
  font-family: sans-serif;
}
